 @import "simple_calendar";
 @import "scaffolds";
 @import "recipes";
 @import "ingredients";
 @import "meals";
 @import "home";
 @import "select2";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap";

body{
  margin-top: 70px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  body{
    margin-top: 50px;
  }
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  background-color: #9B9B9B;
  color: #ffffff;
}

.nav-custom .nav-item.active .nav-link,
.nav-custom .nav-item:hover .nav-link {
  background-color: #9B9B9B;
  color: #ffffff;
}

.navbar-custom {
  box-shadow: 0 1px 10px;
}

.nav-brand-custom {
  margin-right: 30px;
}

.nav-brand-custom:hover {
  background-color: #9B9B9B;
  color: #ffffff;
}

.navbar-nav {
  margin-top: 10px;
  margin-bottom: 10px;
  .nav-item {
    font-size: 13px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .logout-link a.nav-link{
    color: #9E2020;
    &:hover {
      color: #F00909;
    }
  }
}

.nav {
  margin-top: 15px;
  margin-bottom: 15px; 
}

.delete-row{
  padding-left: 15px;
  color: #BB1010;
}

.edit-row{
  padding-left: 15px;
  color: #000;
}

.bg-light{
  background-color: #E4E3E3 !important;
}
