.delete-row{
  padding-left: 15px;
  color: #BB1010;
}

.edit-row{
  padding-left: 15px;
  color: #000;
}

.recipe-name-td{
  width: 90%;
}

.recipe-edit-td{
  width: 5%;
}

.recipe-delete-td{
  width: 5%;
}