li.borderless {
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.shopping-list-create-container {
  padding-top: 10px;
}
.shopping-list-items-container {
  margin-bottom: 20px;
}

.shopping-list-item-left-section {
  float: left;
}

.shopping-list-item-right-section {
  padding-top: 5px;
  float: right;
  a {
    margin-left: 20px;
  }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  li.borderless { 
    border-top: 0 none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-left: 0 none;
    border-right: 0 none;
  }

  .shopping-list-item-left-section {
    float: none;
  }
  
  .shopping-list-item-right-section {
    float: right;
    margin-top: -25px;
    a {
      margin-left: 0;
    }
    i{
      margin-left: 15px;
      margin-top: 5px;
    }
  }

  .shopping-list-create-container {
    padding-top: 2px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
  }
}